* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    line-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 400px;
    height: 600px;
    background: steelblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap:1rem
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,45px);
    width: 100%;
}

.result {
    width: 100%;
    height: 60px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
}

.activeCase {
    transform: scale(0.9);
    background: red;
}

